/*
body {
  background: url("css/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

input {
  padding: 10px 50px;
  margin: 10px 0px;
}

.fa-regular {
  color: azure;
  font-size: 100px;
  background: #538199;
  font-size: 5vw;
  padding: 18px;
  border: 10px solid #538199;
  border-radius: 50%;
}

.AllPart {
  color: #fff;
  text-align: center;
}

.form {
  width: 20%;
  height: 60%;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  background: rgba(202, 221, 215, 0.774);
  padding: 20px 0px;
  border-radius: 15px;
}
input {
  border: none;
  border-radius: 15px;
}

button {
  background: #538199;
  color: #fff;
  font-size: 16px;
  padding: 1.1vw 5vw;
  border: none;
  border-radius: 15px;
}
button:hover{
    background: #2497d4;
    font-size: large;
    cursor: pointer;
}
*/

@media screen and (max-width: 420px) {
    .form{
      width: 80vw;
    }
  }

@media screen and (max-width: 1280px) {
    .form{
      width: 88vw;
    }
  }
